* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-decoration: none;
    text-decoration: none;
    text-transform: capitalize;

}

html {
    font-size: 62.5%;
}

/*nvbr section*/
header {
    padding: 1.2rem 4.8rem;
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.navbar-list {
    list-style: none;
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 1.8rem;
}

.navbar-list a {
    color: #3d3d3d;
    font-weight: 600;
    text-decoration: none;
    font-size: 2.5rem;
}

.navbar-list a:hover {
    color: orange;
}

.logo {
    font-size: 3.2rem;
    color: orange;
}

.menu-btn {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    font-size: 2rem;
    display: none;
}

.cancel {
    color: black;
    display: none;
}

@media (max-width: 62em) {
    .menu-btn {
        display: block;
        z-index: 999;
        border: 3px solid black;
        padding: 0 4px;
    }

    .navbar {
        width: 100%;
        height: 100vh;
        background-color: whitesmoke;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;

        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .navbar-list {
        flex-direction: column;
    }

    .logo {
        font-size: 4rem;
    }

    .active .navbar {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
}


/* section*/
.home .hero {
    min-height: 70vh;
    background: url(./img/image.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.home .hero .text2 {
    font-size: 4.4rem;
    width: 48rem;
    background: aliceblue;
    text-align: center;

    text-transform: capitalize;
    padding: 0.9rem 2rem;
}

.home .hero .text3 {
    font-size: 3rem;
    width: 36rem;
    background: rgb(245, 179, 57);
    text-align: center;

    text-transform: capitalize;
    padding: .5rem 1.5rem;
}

@media (max-width:400px) {
    .home .hero .text2 {
        font-size: 3rem;
        width: 30rem;


    }

    .home .hero .text3 {
        font-size: 2rem;
        width: 20rem;

    }

}

.home .counting {
    min-height: 40vh;
    display: flex;
    padding: 2rem 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home .counting .box {
    margin: 2rem 4rem;
    text-align: center;
}

.count {
    color: #3d3d3d;
    font-size: 7rem;
}

.home .counting .box h3 {
    color: rgb(245, 179, 57);
    font-size: 2rem;
}

/* about*/
.about {
    min-height: 99vh;
    padding-bottom: 3rem;
}

.heading {
    font-size: 4rem;
    text-align: center;
    letter-spacing: 2rem;
    color: #444;
    margin: 2rem 0;
    padding-top: 6rem;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: orange;
    text-underline-offset: -2rem;
}

.about.image {
    padding: 2rem;
}

.about .image img {
    height: 45rem;
    object-fit: cover;
    box-shadow: 2.5rem 2.5rem 0 0.9rem orange;
}

.info {
    padding: 2rem;
    margin-top: 14rem;
}

@media (max-width:400px) {
    .info {
        padding: 2rem;
        margin-top: 8rem;
    }
}

.info h2 {
    font-size: 3rem;
    color: orange;
}

.info p {
    font-size: 1.4rem;
    color: #444;
    margin: 2rem 0;
}

.icons a {
    text-decoration: none;
    font-size: 2.3rem;
    text-align: center;
    margin-right: 2rem;
    background-color: #444;
    color: whitesmoke;
    padding: .9rem;
    border-radius: .4rem;
}

.icons a:hover {
    background-color: orange;
    padding: 2rem;

}

/*service*/
.service {
    min-height: 99vh;
}

.service .box-container {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8rem;
}

.service .box-container .box {
    height: 32rem;
    width: 32rem;
    box-shadow: 0 .2rem .5rem rgb(0, 0, 0, .3);
    border-left: .5rem solid orange;
    border-right: .5rem solid orange;
    text-align: center;
    padding-top: 6rem;
    border-radius: .5rem;
}

.box .fas {
    color: orange;
    font-size: 6rem;
}

.box p {
    color: #444;
    font-size: 1.4rem;
    margin: 2rem 0;
}

/*project section*/
.project {
    min-height: 99vh;
    background: #333;
}

.project .heading {
    color: #fff;
}

.project .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project .box-container .box {
    height: 20rem;
    width: 30rem;
    margin: 2.5rem;
    border-radius: .5rem;
    box-shadow: 0 .2rem .5rem #000;
}

.project .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project .box-container .box img:hover {
    transform: scale(1.4);
}

























/*contact section*/
.contact {
    min-height: 99vh;
}

.contact-box-container {
    width: 93%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-box-container .contact-box {
    height: 16rem;
    flex: 1 0 30rem;
    margin: 2rem;
    box-shadow: 0 .3rem .5rem rgb(0, 0, 0, .3);
    border-radius: .5rem;
    text-align: center;
    padding-top: 4rem;
}

.contact-box i {
    color: orange;
    font-size: 4rem;
}

.contact-box h3 {
    color: #444;
    font-size: 1.8rem;
    margin: 2rem 0;
}

.form-container {
    width: 90%;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .2);
    border-radius: .5rem;
    padding: 1rem 3rem;
    margin: 3rem;
}

.form-container form input,
textarea {
    height: 4.5rem;
    padding: 0 1rem;
    margin: 2rem 0;
    font-size: 1.5rem;
    color: #333;

    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .2);
    border: none;
    outline: none;
}

.form-container form .inputBox {
    display: flex;
    justify-content: space-between;
}

.form-container form input[type="text"] {
    width: 49%;
}

.form-container form input[type="email"] {
    width: 99%;
}

.form-container form textarea {
    width: 99%;
    height: 20rem;
    padding: .9rem;
    resize: none;
    overflow-y: auto;
}

.form-container form input[type="submit"] {
    background: orange;
    width: 15rem;
    color: white;
    font-size: 2rem;
}

.form-container form input[type="submit"]:hover {
    opacity: .7;
}

/*footer*/
.footer {
    background: #333;
    text-align: center;
}

.footer .row {
    width: 99%;
    margin-left: 0;
    padding: .9rem;
}

.footer .row .col-md-3 {
    margin: 1rem 0;

}

.footer h2 {
    color: aliceblue;
    font-size: 2.5rem;
}

.footer p {
    font-size: 1.2rem;
    color: #ccc;
}

.footer .list {
    display: flex;
    flex-flow: column;
}

.footer .list a {
    color: #ccc;
    font-size: 1.7rem;
    text-decoration: none;
}

.footer .list a:hover {
    color: orange;
}

.letter p {
    font-size: 2rem;
}

.letter input[type="email"] {
    outline: none;
    border: none;
    background: none;
    padding: 0 1rem;
    color: aliceblue;
    height: 3rem;
    width: 100%;
    border: .1em solid #fff;
    font-size: 1.5rem;
}

.letter input[type="submit"] {
    outline: none;
    border: none;
    background: #fff;
    margin: 1rem 0;

    width: 10rem;

    font-size: 1.6rem;
}

.letter input[type="submit"]:hover {
    background-color: orange;
    color: aliceblue;

}

.credit {
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-size: 2rem;
    padding: 1rem 0;
    margin: 0 1rem;
    margin-bottom: 0;
    border-top: .1rem solid #ccc;
    letter-spacing: .2rem;
}

.credit span {
    color: orange;
}